<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Devices</title>
</head>
<body>
<div th:switch="${device}">
    <h2 th:case="null">No customers found!</h2>
    <div th:case="*">
        <h2>Devices</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Device type</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Serial Number</th>
                <th>Failure Description</th>
                <th>Repair status</th>
                <th>Customer First name</th>
                <th>Customer Last name</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="device : ${device}">
                <td th:text="${device.id}"></td>

                <td th:text="${device.manufacturer}"></td>
                <td th:text="${device.model}"></td>
                <td th:text="${device.serialNumber}"></td>
                <td th:text="${device.failureDescription}"></td>
                <td th:text="${device.repairStatus}"></td>
                <td th:text="${device.repairDescription}"></td>
                <td th:text="${device.customer.getFirstName()}"></td>


            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
